<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\..\static\subjects.css">
    <title>Document</title>
</head>
<body>
  <nav>
    <div class="wrapper">
      <div class="logo"><a href="/"><img src="..\..\static\logo.png" alt=""></a></div>
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">
      <ul class="nav-links">
        <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
        <li><a href="/meets-subj1">Консультации</a></li>
        <li>
          <a href="/subjects" class="desktop-item">Предметы</a>
        </li>
        <li><a href="/faq">FAQ</a></li>

        <li><a href="/notifications">Уведомления</a></li>
      </ul>
      <ul class="nav-links">
          {% if not(current_user.is_authenticated) %}
      <li><div class="Log"><a href="/index">Вход</a></div></li>
      <li><div class="Sign"><a href="/register">Регистрация</a></div></li>
          {% endif %}
          {% if current_user.is_authenticated %}
            <li><div><a href="/logout">Выход</a></div></li>
          {% endif %}
      </ul>

      <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
    </div>
  </nav>

  <div class="sec-center">
    <input class="dropdown" type="checkbox" id="dropdown" name="dropdown"/>
    <label class="for-dropdown" for="dropdown">Меню<i class="uil uil-arrow-down"></i></label>
    <div class="section-dropdown">
      <a href="/main">Главная <i class="uil uil-arrow-right"></i></a>
      <a href="/meets-subj1">Консультации <i class="uil uil-arrow-right"></i></a>
      <input class="dropdown-sub2" type="checkbox" id="dropdown-sub2" name="dropdown-sub2"/>
      <a href="/subjects">Предметы<i class="uil uil-arrow-right"></i></a>
      <a href="/faq">FAQ</a>
      <a href="/notifications">Уведомления</a>
      {% if not(current_user.is_authenticated) %}
      <a href="/index">Вход</a>
      <a href="/register">Регистрация</a>
      {% endif %}
      {% if current_user.is_authenticated %}
      <a href="/logout">Выход</a>
      {% endif %}
    </div>
  </div>


      <div class="con">
          <h1>Выберите предмет</h1>
        <div class="subject-col-col">

  {% for subject in subjects %}
            <p><a href="{{ url_for('list_courses', subject_id=subject.id) }}">{{ subject.name }}</a></p>
  {% endfor %}

        </div>
      </div>
</body>
</html>




