<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static\create-meet.css">

</head>
<body>
<nav>
    <div class="wrapper">
      <div class="logo"><a href="/"><img src="static\logo.png" alt=""></a></div>
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">
      <ul class="nav-links">
        <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
        <li><a href="/meets-subj1">Консультации</a></li>
        <li>
          <a href="/subjects" class="desktop-item">Предметы</a>
        </li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/new">Подписка</a></li>
        <li><a href="/Teachers">Учителя</a></li>
        <li><a href="/notifications">Уведомления</a></li>
      </ul>
      <ul class="nav-links">
          {% if not(current_user.is_authenticated) %}
      <li><div class="Log"><a href="/index">Вход</a></div></li>
      <li><div class="Sign"><a href="/register">Регистрация</a></div></li>
          {% endif %}
          {% if current_user.is_authenticated %}
            <li><div><a href="/logout">Выход</a></div></li>
          {% endif %}
      </ul>

      <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
    </div>
  </nav>

  <div class="sec-center">
    <input class="dropdown" type="checkbox" id="dropdown" name="dropdown"/>
    <label class="for-dropdown" for="dropdown">Меню<i class="uil uil-arrow-down"></i></label>
    <div class="section-dropdown">
      <a href="main">Главная <i class="uil uil-arrow-right"></i></a>
      <a href="meets-subj1">Консультации <i class="uil uil-arrow-right"></i></a>
      <a href="new">Подписка <i class="uil uil-arrow-right"></i></a>
      <input class="dropdown-sub2" type="checkbox" id="dropdown-sub2" name="dropdown-sub2"/>
      <a href="subjects">Предметы<i class="uil uil-arrow-right"></i></a>
      <a href="Teachers">Учителя <i class="uil uil-arrow-right"></i></a>
      <a href="faq">FAQ</a>
      <a href="index">Вход</a>
      <a href="index">Регистрация</a>
    </div>
  </div>
<form method="post">
    <textarea placeholder="Приветственный текст" name="quote" id="quote" class="form-control"></textarea>
    <input type="text" placeholder="Тема" name="topic" id="topic" class="form-control">
    <input type="number" placeholder="Класс" name="class" id="class" class="form-control">
    День занятия
    <input type="datetime-local" name="possible_days" id="possible_days" class="form-control" min="2024-01-11T08:30" max="">

    <input type="submit" value="Подтвердить" class="btn">

</form>
</body>
</html>