<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="static\header.css">
    <title>Document</title>
</head>
<body>
    <nav>
    <div class="wrapper">
      <div class="logo"><a href="main">Logo</a></div>
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">
      <ul class="nav-links">
        
        <li><a href="main">Главная</a></li>
        <li><a href="meets-subj1">Консультации</a></li>
        <li>
          <a href="subjects" class="desktop-item">Предметы</a>
          <input type="checkbox" id="showMega">
          <label for="showMega" class="mobile-item">Mega Menu</label>
          <div class="mega-box">
            <div class="content">
              <div class="row">
                <header>5 Класс</header>
                <ul class="mega-links">
                  <li><a href="#">Предмет 1</a></li>
                  <li><a href="#">Предмет 2</a></li>
                  <li><a href="#">Предмет 3</a></li>
                  <li><a href="#">Предмет 4</a></li>
                </ul>
              </div>
              <div class="row">
                <header>6 класс</header>
                <ul class="mega-links">
                  <li><a href="#">Предмет 1</a></li>
                  <li><a href="#">Предмет 2</a></li>
                  <li><a href="#">Предмет 3</a></li>
                  <li><a href="#">Предмет 4</a></li>
                </ul>
              </div>
              <div class="row">
                <header>7 класс</header>
                <ul class="mega-links">
                  <li><a href="#">Предмет 1</a></li>
                  <li><a href="#">Предмет 2</a></li>
                  <li><a href="#">Предмет 3</a></li>
                  <li><a href="#">Предмет 4</a></li>
                </ul>
              </div>
                <div class="row">
                <header>8 класс</header>
                <ul class="mega-links">
                  <li><a href="#">Предмет 1</a></li>
                  <li><a href="#">Предмет 2</a></li>
                  <li><a href="#">Предмет 3</a></li>
                  <li><a href="#">Предмет 4</a></li>
                </ul>
              </div>

                <div class="row">
                <header>9 класс</header>
                <ul class="mega-links">
                  <li><a href="#">Предмет 1</a></li>
                  <li><a href="#">Предмет 2</a></li>
                  <li><a href="#">Предмет 3</a></li>
                  <li><a href="#">Предмет 4</a></li>
                </ul>
              </div>
                <div class="row">
                <header>10 класс</header>
                <ul class="mega-links">
                  <li><a href="#">Предмет 1</a></li>
                  <li><a href="#">Предмет 2</a></li>
                  <li><a href="#">Предмет 3</a></li>
                  <li><a href="#">Предмет 4</a></li>
                </ul>
              </div>
                <div class="row">
                <header>11 класс</header>
                <ul class="mega-links">
                  <li><a href="#">Предмет 1</a></li>
                  <li><a href="#">Предмет 2</a></li>
                  <li><a href="#">Предмет 3</a></li>
                  <li><a href="#">Предмет 4</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li><a href="faq">FAQ</a></li>
        <li><a href="new">Подписка</a></li>
        <li><a href="Teachers">Учителя</a></li>
      </ul>
      <ul class="nav-links">
      <li><div class="Log"><a href="index">Вход</a></div></li>
      <li><div class="Sign"><a href="index">Регистрация</a></div></li>
      </ul>

      <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
    </div>
  </nav>
</body>
</html>