<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="static\main.css">
    <link rel="stylesheet" href="static\header.css">
</head>

<body>
  <nav>
    <div class="wrapper">
      <div class="logo"><a href="/"><img src="..\..\static\logo.png" alt=""></a></div>
      <ul class="nav-links">
        <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
        <li><a href="/meets-subj1">Консультации</a></li>
        <li>
          <a href="/subjects" class="desktop-item">Предметы</a>
        </li>
        <li><a href="/faq">FAQ</a></li>

        <li><a href="/notifications">Уведомления</a></li>
      </ul>
      <ul class="nav-links">
          {% if not(current_user.is_authenticated) %}
      <li><div class="Log"><a href="/index">Вход</a></div></li>
      <li><div class="Sign"><a href="/register">Регистрация</a></div></li>
          {% endif %}
          {% if current_user.is_authenticated %}
            <li><div><a href="/logout">Выход</a></div></li>
          {% endif %}
      </ul>
    </div>
  </nav>

  <div class="sec-center">
    <input class="dropdown" type="checkbox" id="dropdown" name="dropdown"/>
    <label class="for-dropdown" for="dropdown">Меню<i class="uil uil-arrow-down"></i></label>
    <div class="section-dropdown">
      <a href="/main">Главная <i class="uil uil-arrow-right"></i></a>
      <a href="/meets-subj1">Консультации <i class="uil uil-arrow-right"></i></a>
      <a href="/subjects">Предметы<i class="uil uil-arrow-right"></i></a>
      <a href="/faq">FAQ</a>
      <a href="/notifications">Уведомления</a>
      {% if not(current_user.is_authenticated) %}
      <a href="/index">Вход</a>
      <a href="/register">Регистрация</a>
      {% endif %}
      {% if current_user.is_authenticated %}
      <a href="/logout">Выход</a>
      {% endif %}
    </div>
  </div>

<div class="intro">
<section class="intro2">

<section class="descript">
    <h1> Путеводитель в мир знаний </h1>
    <p> Teen.Cor дает возможность ученикам получать качественные материалы от учителей на одной волне </p>
    <div class="wave"> </div>
</section>

<section class = "work-examples-btns">
    <button class = "work-examples-btn" id="btn1"> Материалы </button>
    <button class = "work-examples-btn" id="btn2"> Вопрос-Ответ </button>
    <button class = "work-examples-btn" id="btn3"> Индивидуальные сессии </button>
</section>

</section>
<section class="actions">
    <h2 class="chitai"> Читай материалы на Teen.Cor, задавай вопросы и записывайся на индивидуальные консультации </h2>
    <p> Наша платформа предоставляет возмодности подтянуть учебу с минимальными затратами со стороны ученика</p>
</section>


</div>

<h2> Учителя: </h2>

<section id="teachers">
  <div class="teacher-card">
      <img source="teacher-img1">
      <h2> София </h2>
      <p> Информатика </p>
      <p> Информатика МЭСК А* </p>
      <div class="rating">
        <span class="star">☆</span>
        <span class="number">5.0</span>
     </div>   
  </div>
  <div class="teacher-card">
    <img source="teacher-img1">
    <h2> София </h2>
    <p> Информатика </p>
    <p> Информатика МЭСК А* </p>
    <div class="rating">
      <span class="star">☆</span>
      <span class="number">5.0</span>
   </div>   
  </div>
  <div class="teacher-card">
    <img source="teacher-img1">
    <h2> София </h2>
    <p> Информатика </p>
    <p> Информатика МЭСК А* </p>
    <div class="rating">
      <span class="star">☆</span>
      <span class="number">4.9</span>
   </div>   
  </div>
</section>


<section id="testimonials">
   <div class="testimonial-heading">
       <span>Отзывы</span>
       <h1>Clients Say</h1>
   </div>
   <div class="testimonial-box-container">
       <div class="testimonial-box">
           <div class="box-top">
               <div class="profile">
                  <div class="profile-img">
                      <img src="images/c1.jpg" />
                  </div>
                  <div class="name-user">
                      <strong>София Дасаева</strong>
                      <span>@dlotsss</span>
                  </div>
               </div>
           </div>
           <div class="client-comment">
               <p>review review review review review</p>
           </div>
       </div>
       <div class="testimonial-box">
        <div class="box-top">
            <div class="profile">
               <div class="profile-img">
                   <img src="images/c2.jpg" />
               </div>
               <div class="name-user">
                   <strong>Name</strong>
                   <span>@nickname</span>
               </div>
            </div>
        </div>
        <div class="client-comment">
            <p>review review review review review</p>
        </div>
    </div>
    <div class="testimonial-box">
      <div class="box-top">
          <div class="profile">
             <div class="profile-img">
                 <img src="images/c3.jpg" />
             </div>
             <div class="name-user">
                 <strong>Name</strong>
                 <span>@nickname</span>
             </div>
          </div>
      </div>
      <div class="client-comment">
          <p>review review review review review</p>
      </div>
  </div>
  <div class="testimonial-box">
    <div class="box-top">
        <div class="profile">
           <div class="profile-img">
               <img src="images/c4.jpg" />
           </div>
           <div class="name-user">
               <strong>Name</strong>
               <span>@nickname</span>
           </div>
        </div>
    </div>
    <div class="client-comment">
        <p>review review review review review</p>
    </div>
</div>
<div class="testimonial-box">
 <div class="box-top">
     <div class="profile">
        <div class="profile-img">
            <img src="images/c5.jpg" />
        </div>
        <div class="name-user">
            <strong>Name</strong>
            <span>@nickname</span>
        </div>
     </div>
 </div>
 <div class="client-comment">
     <p>review review review review review</p>
 </div>
</div>
<div class="testimonial-box">
<div class="box-top">
   <div class="profile">
      <div class="profile-img">
          <img src="images/c6.jpg" />
      </div>
      <div class="name-user">
          <strong>Name</strong>
          <span>@nickname</span>
      </div>
   </div>
</div>
<div class="client-comment">
   <p>review review review review review</p>
</div>
   </div>
   </div>
</section>


<div class="company-container">
  <h2>Нас поддерживают волонтерские организации</h2>
  <ul class="company-list">
      <li><a href="#">Company 1</a></li>
      <li><a href="#">Company 2</a></li>
      <li><a href="#">Company 3</a></li>
  </ul>
</div>



<div class="login-container"> <button class="login-btn"> <a href="register"> Регистрация </a> </button> </div>

<div class="faq"> 
<h2> FAQ </h2>
<details>
  <summary>Question 1</summary>
  <p>Answer 1</p>
 </details>
 
 <details>
  <summary>Question 2</summary>
  <p>Answer 2</p>
 </details>

 <details>
  <summary>Question 3</summary>
  <p>Answer 3</p>
 </details>
</div>

</body>
</html>