<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="static\main.css">
</head>

<body>
  <nav>
    <div class="wrapper">
      <div class="logo"><a href="#">Logo</a></div>
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">
      <ul class="nav-links">
        <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
        <li><a href="#">Главная</a></li>
        <li>
          <a href="#" class="desktop-item">Вопрос-ответ</a>
          <input type="checkbox" id="showDrop">
          <label for="showDrop" class="mobile-item">Dropdown Menu</label>
          <ul class="drop-menu">
            <li><a href="#">Предмет 1</a></li>
            <li><a href="#">Предмет 2</a></li>
            <li><a href="#">Предмет 3</a></li>
            <li><a href="#">Предмет 4</a></li>
          </ul>
        </li>
        <li>
          <a href="#" class="desktop-item">Предметы</a>
          <input type="checkbox" id="showMega">
          <label for="showMega" class="mobile-item">Mega Menu</label>
          <div class="mega-box">
            <div class="content">
              <div class="row">
                <header>5 Класс</header>
                <ul class="mega-links">
                  <li><a href="#">Предмет 1</a></li>
                  <li><a href="#">Предмет 2</a></li>
                  <li><a href="#">Предмет 3</a></li>
                  <li><a href="#">Предмет 4</a></li>
                </ul>
              </div>
              <div class="row">
                <header>6 класс</header>
                <ul class="mega-links">
                  <li><a href="#">Предмет 1</a></li>
                  <li><a href="#">Предмет 2</a></li>
                  <li><a href="#">Предмет 3</a></li>
                  <li><a href="#">Предмет 4</a></li>
                </ul>
              </div>
              <div class="row">
                <header>7 класс</header>
                <ul class="mega-links">
                  <li><a href="#">Предмет 1</a></li>
                  <li><a href="#">Предмет 2</a></li>
                  <li><a href="#">Предмет 3</a></li>
                  <li><a href="#">Предмет 4</a></li>
                </ul>
              </div>
                <div class="row">
                <header>8 класс</header>
                <ul class="mega-links">
                  <li><a href="#">Предмет 1</a></li>
                  <li><a href="#">Предмет 2</a></li>
                  <li><a href="#">Предмет 3</a></li>
                  <li><a href="#">Предмет 4</a></li>
                </ul>
              </div>
  
                <div class="row">
                <header>9 класс</header>
                <ul class="mega-links">
                  <li><a href="#">Предмет 1</a></li>
                  <li><a href="#">Предмет 2</a></li>
                  <li><a href="#">Предмет 3</a></li>
                  <li><a href="#">Предмет 4</a></li>
                </ul>
              </div>
                <div class="row">
                <header>10 класс</header>
                <ul class="mega-links">
                  <li><a href="#">Предмет 1</a></li>
                  <li><a href="#">Предмет 2</a></li>
                  <li><a href="#">Предмет 3</a></li>
                  <li><a href="#">Предмет 4</a></li>
                </ul>
              </div>
                <div class="row">
                <header>11 класс</header>
                <ul class="mega-links">
                  <li><a href="#">Предмет 1</a></li>
                  <li><a href="#">Предмет 2</a></li>
                  <li><a href="#">Предмет 3</a></li>
                  <li><a href="#">Предмет 4</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li><a href="#">Подписка</a></li>
        <li><a href="#">Лучшие учителя</a></li>
      </ul>
      
      <ul class="nav-links">
      <li><div class="Log"><a href="#">Log in</a></div></li>
      <li><div class="Sign"><a href="#">Sign in</a></div></li>
      </ul>
          
      <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
    </div>
  </nav>



<div class="intro">
<section class="intro2">

<section class="descript">
    <h1> Путеводитель в мир знаний </h1>
    <p> Teen.Cor дает возможность ученикам получать качественные материалы от учителей на одной волне </p>
    <div class="wave"> </div>
</section>

<section class = "work-examples-btns">
    <button class = "work-examples-btn" id="btn1"> Материалы </button>
    <button class = "work-examples-btn" id="btn2"> Вопрос-Ответ </button>
    <button class = "work-examples-btn" id="btn3"> Индивидуальные сессии </button>
</section>
<div class = "work-example" >
    <div class="work-img"> <img src="work-ex1.png" width="100%" height = "100%" alt=""></div>
</div>

</section>
<section class="actions">
    <h2 class="chitai"> Читай материалы на Teen.Cor, задавай вопросы и записывайся на индивидуальные консультации </h2>
    <p> Наша платформа предоставляет возмодности подтянуть учебу с минимальными затратами со стороны ученика</p>
</section>


</div>

<h2> Учителя: </h2>

<section id="teachers">
  <div class="teacher-card">
      <img source="teacher-img1">
      <h2> София </h2>
      <p> Информатика </p>
      <p> Информатика МЭСК А* </p>
      <div class="rating">
        <span class="star">☆</span>
        <span class="number">5.0</span>
     </div>   
  </div>
  <div class="teacher-card">
    <img source="teacher-img1">
    <h2> София </h2>
    <p> Информатика </p>
    <p> Информатика МЭСК А* </p>
    <div class="rating">
      <span class="star">☆</span>
      <span class="number">5.0</span>
   </div>   
  </div>
  <div class="teacher-card">
    <img source="teacher-img1">
    <h2> София </h2>
    <p> Информатика </p>
    <p> Информатика МЭСК А* </p>
    <div class="rating">
      <span class="star">☆</span>
      <span class="number">4.9</span>
   </div>   
  </div>
</section>


<section id="testimonials">
   <div class="testimonial-heading">
       <span>Отзывы</span>
       <h1>Clients Say</h1>
   </div>
   <div class="testimonial-box-container">
       <div class="testimonial-box">
           <div class="box-top">
               <div class="profile">
                  <div class="profile-img">
                      <img src="images/c1.jpg" />
                  </div>
                  <div class="name-user">
                      <strong>София Дасаева</strong>
                      <span>@dlotsss</span>
                  </div>
               </div>
           </div>
           <div class="client-comment">
               <p>review review review review review</p>
           </div>
       </div>
       <div class="testimonial-box">
        <div class="box-top">
            <div class="profile">
               <div class="profile-img">
                   <img src="images/c2.jpg" />
               </div>
               <div class="name-user">
                   <strong>Name</strong>
                   <span>@nickname</span>
               </div>
            </div>
        </div>
        <div class="client-comment">
            <p>review review review review review</p>
        </div>
    </div>
    <div class="testimonial-box">
      <div class="box-top">
          <div class="profile">
             <div class="profile-img">
                 <img src="images/c3.jpg" />
             </div>
             <div class="name-user">
                 <strong>Name</strong>
                 <span>@nickname</span>
             </div>
          </div>
      </div>
      <div class="client-comment">
          <p>review review review review review</p>
      </div>
  </div>
  <div class="testimonial-box">
    <div class="box-top">
        <div class="profile">
           <div class="profile-img">
               <img src="images/c4.jpg" />
           </div>
           <div class="name-user">
               <strong>Name</strong>
               <span>@nickname</span>
           </div>
        </div>
    </div>
    <div class="client-comment">
        <p>review review review review review</p>
    </div>
</div>
<div class="testimonial-box">
 <div class="box-top">
     <div class="profile">
        <div class="profile-img">
            <img src="images/c5.jpg" />
        </div>
        <div class="name-user">
            <strong>Name</strong>
            <span>@nickname</span>
        </div>
     </div>
 </div>
 <div class="client-comment">
     <p>review review review review review</p>
 </div>
</div>
<div class="testimonial-box">
<div class="box-top">
   <div class="profile">
      <div class="profile-img">
          <img src="images/c6.jpg" />
      </div>
      <div class="name-user">
          <strong>Name</strong>
          <span>@nickname</span>
      </div>
   </div>
</div>
<div class="client-comment">
   <p>review review review review review</p>
</div>
   </div>
   </div>
</section>


<div class="company-container">
  <h2>Нас поддерживают волонтерские организации</h2>
  <ul class="company-list">
      <li><a href="#">Company 1</a></li>
      <li><a href="#">Company 2</a></li>
      <li><a href="#">Company 3</a></li>
  </ul>
</div>



<div class="login-container"> <button class="login-btn"> <a href="login_page.html"> Регистрация </a> </button> </div>

<div class="faq"> 
<h2> FAQ </h2>
<details>
  <summary>Question 1</summary>
  <p>Answer 1</p>
 </details>
 
 <details>
  <summary>Question 2</summary>
  <p>Answer 2</p>
 </details>

 <details>
  <summary>Question 3</summary>
  <p>Answer 3</p>
 </details>
</div>

</body>
</html>