<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="static\meets.css">
    <script src="static\meet.js"></script>
</head>

<body>
<nav>
    <div class="wrapper">
      <div class="logo"><a href="/"><img src="..\..\static\logo.png" alt=""></a></div>
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">
      <ul class="nav-links">
        <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
        <li><a href="/meets-subj1">Консультации</a></li>
        <li>
          <a href="/subjects" class="desktop-item">Предметы</a>
        </li>
        <li><a href="/faq">FAQ</a></li>

        <li><a href="/notifications">Уведомления</a></li>
      </ul>
      <ul class="nav-links">
          {% if not(current_user.is_authenticated) %}
      <li><div class="Log"><a href="/index">Вход</a></div></li>
      <li><div class="Sign"><a href="/register">Регистрация</a></div></li>
          {% endif %}
          {% if current_user.is_authenticated %}
            <li><div><a href="/logout">Выход</a></div></li>
          {% endif %}
      </ul>

      <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
    </div>
  </nav>

  <div class="sec-center">
    <input class="dropdown" type="checkbox" id="dropdown" name="dropdown"/>
    <label class="for-dropdown" for="dropdown">Меню<i class="uil uil-arrow-down"></i></label>
    <div class="section-dropdown">
      <a href="main">Главная <i class="uil uil-arrow-right"></i></a>
      <a href="meets-subj1">Консультации <i class="uil uil-arrow-right"></i></a>
      <a href="new">Подписка <i class="uil uil-arrow-right"></i></a>
      <input class="dropdown-sub2" type="checkbox" id="dropdown-sub2" name="dropdown-sub2"/>
      <a href="subjects">Предметы<i class="uil uil-arrow-right"></i></a>
      <a href="faq">FAQ</a>
      <a href="notifications">Уведомления</a>
      {% if not(current_user.is_authenticated) %}
      <a href="index">Вход</a>
      <a href="index">Регистрация</a>
      {% endif %}
      {% if current_user.is_authenticated %}
      <a href="/logout">Выход</a>
      {% endif %}
    </div>
  </div>

<div class="container">
  <a href="/meet-create" class="cr">Создать запрос</a>


    <div class="meets">
      {% for el in questions%}
        {% if el.confirmed == 0 %}
    <div class="meet-box">
        <h2>{{ el.topic }}</h2>
        <span>{{ el.date.date() }}</span>
        <h3>{{ el.clas }}</h3>
        <h2>{{ el.possible_days }}</h2>
        <blockquote>{{ el.quote }}</blockquote>
        {% for question in questions %}
        {% if current_user.email != question.email %}
        <button class="btn-get" onclick="toggle(hidden_content, {{ el.id }})" id="{{ el.id }}">Принять</button>
        {% endif %}
        {% endfor %}
    </div>
        {%endif%}
      {% endfor %}
</div>
</div>
    <div class="modal" style="display:none;" id="hidden_content">
  <a class="close" onclick="toggle(hidden_content, window.btn_id)"><h2>X</h2></a>
  <h1>Введите адрес ссылки собрания zoom</h1>
  <form onsubmit="submitLink(); return false;" class="linkk">
    <input type="text" name="form-link" id="form-link" class="form-link">

    <input type="submit" value="Отправить ссылку">

  </form>
</div>

</body>
</html>