<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" type = "text/css" href="static\style.css">
    <title>Login page</title>
</head>

<body>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

    <div class="container" id="container">
        <div class="form-container sign-in">
            <form method="post">
                <h1>Создать аккаунт</h1>
                <span>Создайте аккаунт с помощью почты</span>
                <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
                {{ form.email }}
                {{ form.login }}
                {{ form.password }}
                <a href="main.html">Забыли пароль?</a>
                <button type="submit">{{ form.submit }}</button>
            </form>
        </div>
        <div class="form-container sign-up">
</div>

        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>С возвращением!</h1>
                    <p>Уже есть аккаунт?</p>
                    <a href="index"><button class="hidden" id="login-btn">Вход</button></a>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>С возвращением!</h1>
                    <p>Уже есть аккаунт?</p>
                    <a href="index"><button class="hidden" id="register">Вход</button></a>
                </div>
            </div>
        </div>
    </div>


</body>

</html>